{% load static %}
<div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
    <div class="team-member">
      <div class="member-img">
        <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="member-info">
        <div class="social">
          <a href="{% url 'contacto_edit' contacto.id %}"><i class="bi bi-pencil"></i></a>
          <a href="{% url 'contacto_detail' contacto.id %}"><i class="bi bi-eye"></i></a>
          <a href="{% url 'contacto_delete' contacto.id %}"><i class="bi bi-trash"></i></a>
        </div>
        <h4>{{ contacto.name }} {{ contacto.last_name }}</h4>    
      </div>
    </div>
  </div><!-- End Team Member -->