<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "layout/assets/css.html" %}
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
    {% include "layout/partials/header.html" %}
    <main id="main">        
        {% block messages %}{% endblock %}
        {% block content %}{% endblock %}
    </main>
    {% include "layout/partials/footer.html" %}
    {% include "layout/assets/js.html" %}
</body>
</html>